body {
margin: 0;
font-family: Arial, sans-serif;
background: #fff;
}

/* HEADER */
header {
display: flex;
justify-content: space-between;
padding: 30px;
background: black;
color: white;
}

.logo-img {
    height: 30px;
}

.logo {
color: gold;
font-weight: bold;
}

nav a {
color: #ccc;
margin-left: 20px;
text-decoration: none;
}

nav a:hover {
color: gold;
}

/* HERO */
.hero {
background: linear-gradient(135deg, black, #444);
color: white;
text-align: center;
padding: 120px 20px;
}

.btn {
display: inline-block;
background: gold;
color: black;
padding: 10px 20px;
margin-top: 20px;
text-decoration: none;
}

/* SECCIONES */
section {
padding: 60px 20px;
text-align: center;
}

h2 {
color: gold;
}

/* CARDS */
.cards {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.card {
width: 250px;
padding: 20px;
border: 1px solid #ddd;
border-radius: 10px;
transition: 0.3s;
}

.card:hover {
transform: translateY(-5px);
border-color: gold;
}

/* GALERIA PROYECTOS */
.galeria {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
}

.proyecto {
position: relative;
width: 300px;
}

.proyecto img {
width: 100%;
border-radius: 10px;
}

.overlay {
position: absolute;
bottom: 0;
background: rgba(0,0,0,0.7);
color: white;
width: 100%;
padding: 10px;
border-radius: 0 0 10px 10px;
}

/* FORM */
form {
display: flex;
flex-direction: column;
width: 300px;
margin: auto;
}

input, textarea {
margin: 10px 0;
padding: 10px;
}

button {
background: gold;
border: none;
padding: 10px;
}

/* WHATSAPP */
.whatsapp {
position: fixed;
bottom: 20px;
right: 20px;
background: #25D366;
padding: 15px;
border-radius: 50%;
font-size: 25px;
color: white;
}

/* FOOTER */
footer {
background: black;
color: white;
padding: 20px;
}
